@using MiPrimeraAplicacionEnNetCore.Clases;
@model IEnumerable<PersonaCLS>

@{
    ViewData["Title"] = "Index";
    List<SelectListItem> listaSexo = ViewBag.listaSexo;
}

<form id="formEnviar" asp-controller="Persona" asp-action="Index" style="display:grid;grid-template-columns:1fr 2fr 1fr 1fr" class="mb-2">

    <label>Ingrese el Sexo</label>
    @Html.DropDownList("iidSexo",listaSexo,new {@class="form form control"})
    <input type="submit" class="btn btn-primary" value="Buscar"/>
    <input type="button" class="btn btn-danger" value="Limpiar" onclick="Limpiar()"/>

</form>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model=>model.iidPersona)</th>
            <th>@Html.DisplayNameFor(model=>model.nombreCompleto)</th>
            <th>@Html.DisplayNameFor(model=>model.email)</th>
            <th>@Html.DisplayNameFor(model=>model.nombreSexo)</th>
        </tr>

    </thead>
    <tbody>
        @foreach(PersonaCLS oPersonaCLS in Model)
        {
            <tr>
                <td>@oPersonaCLS.iidPersona</td>
                <td>@oPersonaCLS.nombreCompleto</td>
                <td>@oPersonaCLS.email</td>
                <td>@oPersonaCLS.nombreSexo</td>
            </tr>
        }

    </tbody>

</table>

<script>
    function Limpiar() {
        document.getElementById("iidSexo").value = "";
        document.getElementById("formEnviar").submit();
    }


</script>