@model IEnumerable<MiPrimeraAplicacionEnNetCore.Clases.TipoUsuarioCLS>

@{
    ViewData["Title"] = "Index";

    string nombre = ViewBag.Nombre;
    string descripcion = ViewBag.Descripcion;
    int iidtipousuario = ViewBag.IidTipoUsuario;

}

<h1>Index</h1>

<form asp-controller="TipoUsuario" asp-action="Index">
    <input type="submit" value="Enviar" class="btn btn-primary"/>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.iidTipoUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
            </tr>
            <tr>
                <th>
                    @if(iidtipousuario == 0)
                    {
                    <input type="number" name="iidTipoUsuario" class="form form-control" />
                    } else {
                    <input type="number" value="@iidtipousuario" name="iidTipoUsuario" class="form form-control" />
                    }
                </th>
                <th>
                    <input type="text" value="@nombre" name="nombre" class="form form-control" />
                </th>
                <th>
                    <input type="text" value="@descripcion" name="descripcion" class="form form-control" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.iidTipoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
            </tr>
            }


        </tbody>
    </table>
</form>